.u-section-1 {
  background-image: url("images/pexelsphoto315938.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 961px;
}

.u-section-1 .u-text-1 {
  font-size: 6.25rem;
  font-style: italic;
  margin: 298px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 3.125rem;
  text-transform: none;
  letter-spacing: normal;
  line-height: 48px;
  font-style: italic;
  width: 448px;
  margin: -12px auto 0;
}

.u-section-1 .u-social-icons-1 {
  height: 38px;
  min-height: 16px;
  width: 134px;
  min-width: 68px;
  margin: 369px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 792px;
  }

  .u-section-1 .u-text-1 {
    width: 675px;
    font-weight: normal;
    margin-top: 442px;
  }

  .u-section-1 .u-text-2 {
    text-transform: uppercase;
    letter-spacing: 10px;
    line-height: 1.5;
    font-weight: 700;
    margin-top: 87px;
  }

  .u-section-1 .u-social-icons-1 {
    width: 133px;
    margin-top: -72px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 535px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
    margin-top: 450px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -18px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 33px;
    margin-bottom: 4px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    background-position: 17.28% 100%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 356px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    margin-top: 145px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    margin-top: 234px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 10px;
    margin-bottom: 0;
  }
}